@charset "UTF-8";

$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------
$static_lib_image_url:          "../images/";
$static_lib_font_url:          "../fonts/";
$static_default_image_url:          "../images/";




$default-skin-bg:                #e93323 !default; //DB384C  ff6700
$default-skin-bg-hover:          darken($default-skin-bg, 6.5%) !default;  //
$default-skin-bg-active:         darken($default-skin-bg, 6.5%) !default;  //
$default-skin-bg-disabled:       #aaaaaa !default;


$default-skin-text-color:         #212121; //
$default-skin-text-color-hover:         #ccc; //
$default-skin-text-color-active:         #ccc; //
$default-skin-text-color-disabled:         #fff; //



$secondary-skin-color:         $default-skin-bg; // 定制颜色
$secondary-text-highlight-color:         #5cb85c; // 定制颜色  #5cb85c
$secondary-text-color:         #212121; // 定制颜色  #888


//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$main-skin-color:         $default-skin-bg; // 定制颜色
$main-text-highlight-color:         darken($main-skin-color, 6.5%) !default;; // 定制颜色  #DB4453
$main-text-color:         #212121; // 定制颜色  #888
$main-text999-color:         #999; // 定制颜色  #999
$main-menu-color:         #888; // 定制颜色  #999

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         $default-skin-bg !default; // #337ab7  //#f36 //#ff4d79
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.



//#f5f5f5  f8f8f8
$body-bg:               #f5f5f5 !default;
//$body-bg:               #f5f5f5 !default;
// Global text color on `<body>`.
$text-color:            $gray-dark !default;

// Global textual link color.
//$link-color:            $brand-primary !default;
$link-color:            #666 !default;
// Link hover color set via `darken()` function.
//$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-color:      $default-skin-bg !default;
// Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

// Load fonts from this directory.

// [converter] If $bootstrap-sass-asset-helper if used, provide path relative to the assets load path.
// [converter] This is because some asset helpers, such as Sprockets, do not work with file-relative paths.
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "#{$static_lib_font_url}glyphicons/") !default;

// File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular" !default;
// Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

// Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
// Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

// Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base:          4px !default;
// Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

// Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
// Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

// Default background color used for all tables.
$table-bg:                      transparent !default;
// Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
// Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

// Border color for table and cell borders.
$table-border-color:            #ddd !default;



$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #ED5564 !default; //#ED5564
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0 !default;
$btn-border-radius-large:        0 !default;
$btn-border-radius-small:        0 !default;


//== Forms
//
//##

// `<input>` background color
$input-bg:                       #fff !default;
// `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

// Text color for `<input>`s
$input-color:                    $gray !default;
// `<input>` border color
$input-border:                   #e4e4e4 !default;


$input-border-radius:            0 !default;
// Large `.form-control` border radius
$input-border-radius-large:      0 !default;
// Small `.form-control` border radius
$input-border-radius-small:      0 !default;

// Border color for inputs on focus
$input-border-focus:             $link-hover-color !default;

// Placeholder text color
$input-color-placeholder:        #999 !default;

// Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
// Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
// Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

// `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

// Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
// Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

// Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

// Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
// Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
// Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
// Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

// Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
// Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
// Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

// Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
// Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

// Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

// Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

// Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


:export {
  theme_bg: $default-skin-bg;
}
